<div class="container-fuild">
  <h2>Training record Edit</h2>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <%= form_for @workoutmenu do |f| %>
          <div class="form-group col-md-12">
            <%= f.label :menu（メニュー） %>
            <%= f.collection_select :workoutdate_id, Workoutdate.all, :id, :menu, {}, class: 'form-control' %><br>
          </div>
          <div class="form-group col-md-12">
          <%= f.label :settype（セットタイプ） %><br>
            <div class="card-deck">
              <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">
                  <div class="radio">
                    <label><%= f.radio_button :settype, "normalset" %>ノーマルセット</label>
                  </div>
                </div>
              </div>
              <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">
                  <div class="radio">
                    <label><%= f.radio_button :settype, "superset" %>スーパーセット</label>
                  </div>
                </div>
              </div>
              <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">
                  <div class="radio">
                    <label><%= f.radio_button :settype, "dropset" %>ドロップセット</label>
                  </div>
                </div>
              </div>
              <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-header">
                  <div class="radio">
                    <label><%= f.radio_button :settype, "giantset" %>ジャイアントセット</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <%= f.label :weight（重量）, class: "bmd-label-floating" %>
            <%= f.number_field :weight, class: 'form-control' %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <%= f.label :reps（回数）, class: "bmd-label-floating" %>
            <%= f.number_field :reps, class: 'form-control' %>
          </div>
          <div class="form-group col-md-12">
            <br><%= f.submit "OK!!", class: "btn btn-raised btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>